.menu-item {
  @extend .nav-item;
}
.navbar-nav a {
  @extend .nav-link;
  font-size: 20px;
}
.banner {
  background: $purple;
  color: white;

}


.banner .navbar {
  background:transparent;
}

.page-header {
  @extend .text-center;
  padding: 7rem;

  color: white;
}