.menu-item {
  @extend .nav-item;
}
.navbar-nav a {
  @extend .nav-link;
  margin-right: .5rem;
}
.page-header {
  padding-top: 7rem;
  padding-bottom: 7em;
  * {
    color: white;
  }
}
.banner {
  border-bottom: 1px solid $gray-lighter;
}
.pgi-menu-highlight a {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-outline-primary;
  margin-top: 3px;
  color: $blue!important;
  @extend .ml-2;
}
.current-menu-ancestor > a,
.current-page-parent > a,
.current_page_item > a, {
  color: $blue!important;
}